#productContainer {
	width: 100%;
	padding-left: 100px;
}



.product {
	margin-top: 20px;
	float: left;
	width: 30%;
	margin-bottom: 30px;

}

.productRow {
	width: 100%;
}

.productImage {
	margin-top: 10px;
	width: 246px;
	height: 215px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	cursor: pointer;
}

.number {
	display: inline-block;
	text-align: left;
	padding-left: 10px;
	cursor: pointer;
}


.counter {
	float: left;
	display: inline-block;
	padding-left: 10px;
	font-family: "Poppins-Light", sans-serif;
	font-size: 16px;
}

.cartContainer {
	width: 100%;
	padding-left: 170px;
/*	padding-right: 30px;*/
}

.addToCart {
	margin-left: 20px;
	border: 1.5px solid #D16D6A;
	background-color: #FAFAFA;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 3px;
	/* Add To Cart Copy: */
	font-family: Poppins-Light;
	font-size: 18px;
	color: #D16D6A;
}

.addToCart:hover {
	background-color: #D16D6A;
	color: #FAFAFA;
	box-shadow: 0 0 100px -30px #555;
	transition: all 0.3s linear;
}

.label {
	font-family: 'Poppins-Bold', sans-serif;
	font-size: 20px;
}

.labelContainer {
	text-align: center;
}